<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">private</directory>
            <directory suffix=".php">public_html</directory>
        </include>
        <exclude>
            <directory>private/views</directory>
            <file>private/config.php</file>
            <file>private/config_draft.php</file>
        </exclude>
    </coverage>

    <php>
        <env name="PHPUNIT_TESTING" value="true"/>
        <env name="NOTION_API_KEY" value="test_key_for_testing"/>
    </php>
</phpunit>
